body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    height: 40vh;
    width: 70vw;
    background: #ffffff10;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}